@{ Layout = "partials/_layout.cshtml"; }

<ul id="EmpireButtonList">
  <li><img src="images/NC.png" id="imgNC" class="NonSelectedEmpire" alt="New Cobglomerate" /></li>
  <li><img src="images/TR.png" id="imgTR" class="NonSelectedEmpire" alt="Terran Republic" /></li>
  <li><img src="images/VS.png" id="imgVS" class="NonSelectedEmpire" alt="Vanu Sovereignty" /></li>
</ul>
